.exitPreviewBtn {
  width: 100%;

  a {
    display: block;
    width: 100%;
    text-align: center;
    background: var(--white);
    color: var(--dark-background);
    padding: 1.125rem 0;
    font-weight: 600;
    border-radius: .25rem;
  }
}
