.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 2rem;
  }
}

.container {
  .banner {
    margin-bottom: 5rem;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  main {
    max-width: 720px;
    height: 100%;
    width: 100%;

    padding: 2.5rem .625rem;
    margin: 0 auto;

    header {
      width: 100%;
      margin-bottom: 4rem;

      h1 {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;

          span {
            color: var(--gray);
            font-size: .875rem;
          }
        }
      }
    }

    .content {
      h2 {
        margin: 2rem 0;
        font-weight: bold;
        font-size: 2.25rem;
      }

      div {
        line-height: 2rem;

        a {
          color: var(--pink);
        }

        iframe,
        video {
          width: 100%;
          height: 37.5rem;
        }
      }
    }
  }

  .navFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 3rem;
    margin: 3.5rem 0;
    position: relative;

    a {
      display: flex;
      justify-content: center;
      gap: .5rem;
      flex-direction: column;

      span {
        font-size: 1.125rem;
        color: var(--white);
      }

      h4 {
        font-size: 1rem;
        font-weight: 600;
        color: var(--pink);
      }
    }

    a.previousPost {
      align-items: flex-start;
    }

    a.nextPost {
      align-items: flex-end;
    }

    &::before {
      content: '';
      height: 1px;
      background: var(--light-gray);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .1;
    }
  }

  .commentsWrapper {
    margin-bottom: 3rem;
  }
}
